body{
    background-color: rgb(50 ,50, 50);  
    padding: 3%;
  }
  .titulo{
      font-size: 45px;
      font-style: oblique;
      color: whitesmoke;
      text-align: center;
  }
  .foto{
      border-radius: 50px;
      float: left;
      height: 360px;
      padding: 20;
      background-color: #32a791;
      margin: 20px;
  }
  .info{
      font-size: 15px;
      color: rgb(27,34,69);
      background-color: #32a791;
      padding: 20px; 
      position: absolute;
      left: 450px;
      bottom: 45%;
  }
  .listas{
      font-size: 15px;
      color: whitesmoke;
      font-style: italic;
      
  }
  .listas ul li:nth-child(odd){
      background-color: #32a791;
  }
  .linkinterno{
      font-size: 15px;
      color: aqua;
      
  }
  .skill1{
      font-size: 15px;
      color: aqua;
  }
  .skill2{
      font-size: 15px;
      color:bisque;
  }
  .skill3{
      font-size: 15px;
      color:aquamarine;
  }
  #perfil-container{
      height: 400px;
      position: relative;
      background-color: rgb(232, 242, 243);
      border: 5px;
      border-color: #32a791;
  }
  